<h1>Home</h1>
<h2>Anouki Art ~ welcome to my page!</h2>

<p>here you will find all my finished work as well as my current work in progress or other news about me – subscribe to my blog to stay connected..

please also visit my online shop on Society6 ~ http://society6.com/anoukiart where you can find quality art prints of my work as well as a variety of other beautiful and affordable products.. each purchase you make supports me and my art.. thank you!

in case of any questions or if you are interested in purchasing one of my original drawings i invite you to visit the contact section and send me a message.. also feel free to leave your comments.. :)

if you want to learn more about me, you can do so right here..

thank you & have a nice day! :)
love,

Anouki</p>