<% if user_signed_in? && current_user.admin %>
	<%= render "form" %>
<% end %>
<div class="indent50">
	<h3>For any questions contact me</h3>
	<form class="form-inline" role="form">
	<div class="form-group">
	<div class="sameline">
	<% @contacts.each do |contact| %>
		<h5><b><%= link_to contact.name, "http://#{contact.clink}" %></b></h5>
		<% if user_signed_in? && current_user.admin %>
		<h5><%= link_to "Edit",edit_contact_path(contact) %></h5>
		<h5><%= link_to "Delete", contact, method: :delete, data: { confirm: 'Are you sure?', class:"button" } %></h5><% end %>
	<% end %>
	</div>
	</div>
	</form>
</div>
