<div class="col-sm-4">
  <div class="form-group">
	<%= form_for(Workcategory.new) do |f| %>
		<div class="col-sm-offset-3 col-sm-4">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="col-sm-offset-3 col-sm-4">
			<%= f.submit %>
		</div>
	<%end %>
  </div>
</div>